{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Inc</title>
</head>
<body>

{% block content %}

<div class="container novels">
    <div class="row">
        {% for novel in novels %}

            <div class="col-md-4">
                <h4>Title: {{ novel.title }}</h4>
                <p>Authors: {{ novel.author }}</p>
                <p>Ratings: {{ novel.avg_rating }}</p>
                <p>Pages: {{ novel.num_pages }}</p>
                <p><a href="{{ url_for('main.display_publisher', publisher_id=novel.pub_id) }}">Publisher ID: {{ novel.pub_id }}</a></p>
                <br>
            </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}

</body>
</html>